body {
  font-family: Arial, sans-serif;
  background-color: #16c41e;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

#editor {
  width: 80%;
  height: 300px;
  font-size: 16px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #da0d0d;
  outline: none;
}
